@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
 outline: none;
 box-sizing: border-box;
}

html {
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
}

img {
 max-width: 100%;
}

:root {
 --body-font: "Inter", sans-serif;
 --theme-bg: #C6C6CF;
 --body-color: #808191;
 --button-bg: #353340;
 --border-color: rgb(128 129 145 / 24%);
 --video-bg: #252936;
 --delay: 0s;
}

body {
 font-family: var(--body-font);
 color: var(--body-color);
 
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-blend-mode: color-dodge;
 background-color: rgba(18, 21, 39, 0.86);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 1em 2em;
 width: 100%;
 height: 100vh;
 overflow: hidden;
 &:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5c6aed;
  opacity: 0.4;
  content: "";
 }
}

.container {
 background-color: var(--theme-bg);
 max-width: 1240px;
 max-height: 900px;
 height: 95vh;
 display: flex;
 overflow: hidden;
 width: 100%;
 border-radius: 20px;
 font-size: 15px;
 font-weight: 500;
 box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
 position: relative;
}
.logo-expand{
  mix-blend-mode: color-burn;
  margin-top: 20px;
}
.sidebar {
 width: 220px;
 height: 100%;
 padding: 30px;
 display: flex;
 flex-direction: column;
 flex-shrink: 0;
 overflow-y: auto;
 overflow-x: hidden;
 top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: translateX(0);
 .logo {
  display: none;
  width: 30px;
  height: 30px;
  background-color: #22b07d;
  flex-shrink: 0;
  color: #fff;
  align-items: center;
  border-radius: 50%;
  justify-content: center;

  &-expand {
   text-decoration: none;
   color: #fff;
   font-size: 19px;
   font-weight: 600;
   line-height: 34px;
   position: sticky;
   mix-blend-mode: color-burn;
   top: 0;
   &:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    background: var(--theme-bg);
    width: 200px;
    height: 70px;
    z-index: -1;
   }
  }
 }
 &-link {
  &:hover,
  &.is-active {
   color: #5A5DEB;
   font-weight: 600;
   &:nth-child(2n + 1) {
    svg {
    //  background: #FFF ;
    }
   }
   &:nth-child(2n) {
    svg {
     background: #32a7e2;
    }
   }
   &:nth-child(2n + 3) {
    svg {
     background: #6c5ecf;
    }
   }
  }
 }
 &.collapse {
	display: block;
  width: 40px;
  margin-top: 20px;
  padding: 0;
  float: inline-start;
  border-right: 1px solid var(--border-color);
  .logo-expand,
  .side-title {
   display: none;
  }
  .logo {
   display: flex;
   mix-blend-mode: color-burn;
  }
  .side-wrapper {
   width: 30px;
  }
  .side-menu svg {
   margin-right: 30px;
  }
 }
}
.sidebar.hidden {
  transform: translateX(-100%);
}
.wrapper{
  overflow: auto;
}
@keyframes bottom {
 0% {
  transform: translateY(100px);
  opacity: 0;
 }

 100% {
  opacity: 1;
  transform: none;
 }
}

.side-menu {
 display: flex;
 flex-direction: column;
 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
  & + a {
   margin-top: 26px;
  }
 }
 svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  flex-shrink: 0;
  margin-right: 16px;
  &:hover {
   color: #fff;
  }
 }
}

.side-title {
 font-size: 12px;
 letter-spacing: 0.07em;
 margin-bottom: 24px;
}

.side-wrapper {
 border-bottom: 1px solid var(--border-color);
 padding: 36px 0;
 width: 145px;
 & + & {
  border-bottom: none;
 }
}

.wrapper {
 display: flex;
 flex-direction: column;
 flex-grow: 1;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
//  display: flex;
 align-items: center;
 flex-shrink: 0;
 padding: 30px;
 justify-content: space-between;
}
h1{
  color: #5A5DEB;
}
@media screen and (min-width:1024px) {
  .header {
    
    align-items: center;
    flex-shrink: 0;
    padding: 30px;
    justify-content: space-between;
    width: 65%;
   }
}

.search-bar{
	display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 30%;
    position: absolute;
    right: 0px;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
// .calender {
//   width: 50px;
//     height: 50px;
//     border-style: none;
//     font-size: 20px;
//     font-weight: bold;
//     outline: none;
//     cursor: pointer;
//     border-radius: 30%;
//     right: 0px;
//     pointer-events: painted;  
// }
.btn-calender{
  width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 30%;
    right: 0px;
    pointer-events: painted; 
}
@media screen and (max-width:738px) {
  .btn-search{
    display: none;
  }
  .input-search{
    display: none;
  }
  .btn-calender{
    display: none;
  }
}
//card

.customer{
  .card{
  background-color: #5A5DEB;
  // width: 10rem;
}
}
.show-sidebar {
  left: 0;
}
h4{
  color: #374792;
  margin-top: 15px;
}
.semi-circle{
  width: 200px;
  height: 100px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 10px solid #000;
  border-bottom: 0;
  }
@media screen and (min-width:1024px) {
  .customer{
    display: flex;
    column-gap: 10px;
    .card{
      width: 18rem;
    }
  }
  
  .content{
    flex-direction: row !important;
  }
}
@media screen and (min-width:738px) {
  .market-content{
    display: flex;
  }
  .data-analyst{
    display: flex;
  }
  .horizontal-content{
    width: 65%;
  }
}

.pie {
  --p:20;      /* the percentage */
  --b:22px;    /* the thickness */
  --c:darkred; /* the color */
  --w:150px;   /* the size*/
  
  width:var(--w);
  aspect-ratio:1/1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:after {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:before {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg - 90deg)) translate(calc(var(--w)/2 - 50%));
}


.chart{
  display:table;
  table-layout: fixed;   
  
  width:90%;
  max-width:700px;
  height:200px;
  background-size: 100% 50px;
  background-position: left top;
  
  li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
  }
  
  span{
    margin:0 1em;
    display: block;
    background: rgba(#374792, .75);
    animation: draw 1s ease-in-out;
    
    &:before{
      position:absolute;
      left:0;right:0;top:100%;
      padding:5px 1em 0;
  		display:block;
      text-align:center;
      content:attr(title);
      word-wrap: break-word;
    }
    
  }
  
}

@keyframes draw{
  0%{height:0;} 
}

.insurance{
  padding-bottom: 80px;
}

.summary{
  padding-top: 25px;
}
hr{
  margin: 0;
}
.withdraw{
  background-color: #5A5DEB !important;
}
